-r requirements.txt

git+https://github.com/yacchin1205/aiohttpretty.git@1f773d2451f891a553a268bdac2e2659a93f4c96
colorlog==6.9.0
flake8==7.1.2
ipdb==0.13.13
ipython==8.32.0
mypy==1.15.0
mccabe==0.7.0
pycodestyle==2.12.1
pydevd==3.3.0
pyflakes==3.2.0
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==4.1.0
coveralls==3.3.1
redis==5.2.1
moto[s3]==5.2.3
